- if review.user == current_user
  =< link_to 'Edit review', edit_review_path(review, movie_id: @movie.id)
  =< link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }