| Name: #{current_user.username} #{image_tag(current_user.avatar, height: '40', class: "rounded-circle") if current_user.avatar}
br/
| Email: #{current_user.email}
br/
| Registration: #{current_user.created_at}